<div class="container" [style.width.%]="width" [style.margin-top.%]="margin">
    <div class="divider"></div>
    <div class="c-footer">
        <div class="footer-c1-contain">
            <p>Brought to you by:</p>
            <span>
                <img src="../../../assets/led.svg">
            </span>
        </div>
        <div class="footer-c2-contain">
            <p>Last Posted Job:</p>
            <p>July 29, 2020</p>
        </div>
        <div class="footer-c3-contain">
            <p>FAQ | Privacy</p>
        </div>
        <div class="footer-c4-contain">
            <a href="wwww.twitter.com" class="c-footer-social">
                <img src="../../../assets/twtr.svg" class="c-footer-social-img">
            </a>
            <a href="wwww.facebook.com" class="c-footer-social">
                <img src="../../../f.svg" class="c-footer-social-img">
            </a>
            <a href="wwww.linkedin.com" class="c-footer-social">
                <img src="../../../in.svg" class="c-footer-social-img">
            </a>
            <a href="wwww.instagram.com" class="c-footer-social">
                <img src="../../../i.svg" class="c-footer-social-img">
            </a>


        </div>
    </div>
</div>